<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-30.30thread] [%-5level] %30.30logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="ch.qos.logback" level="OFF"/>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

<!--    Only show logs from Node and Server class-->
    <logger name="cs416.lambda.capstone.TradeServiceImpl" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="cs416.lambda.capstone.Node" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="cs416.lambda.capstone.Server" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
